*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    padding:20px 30px;
    align-items: center;
}
nav{
    display: flex;
    gap:10px;
}
a{
    text-decoration:none;
    color: black;
    padding:10px;

}
.logo{
    height:80px;
    width:80px;
    object-fit:contain;
}
a:hover{
    background-color: lightcoral;
    color:#fff;
}
.contact{
    background-color:lightcoral;
    color:#fff;
}
.icon{
    display:none;
}
.container{
    background-image:url("https://www.parents.com/thmb/GExGCp2zHxDIKxnCtx4QykPFqAs=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-1407570793-5f7481ec66794bdb8f67f27f1a9cf6d2.jpg");
    height:100vh;
    background-size: cover;
    position: relative;
 }
 .container1{
    width: 400px;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    padding:30px;
    position: absolute;
    right: 100px;
    bottom: 100px;
}
button{
    background-color: orangered;
    border-radius:22px;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}

button:hover{
    background-color: grey;
}
p{
    margin: 10px;
    font-size: 1.4em;
    /* font-weight: 500; */
}
.free{
    text-decoration:underline orange;
}

.logo{
    cursor: pointer;
}
@media screen and (width < 550px){
   .icon{
    display:block;
    font-size: 20px;
   }
   nav{
    display: none;
   }
   .container1{
    width: 300px;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

   }
}

/* #checkbox:checked+nav{
    display:flex; */
    /* position:absolute; */
    /* flex-direction: column; */
    /* top:65px;
    left:0; */
   /* align-items: center;
    font-size: 1.8rem;
    gap:20px;
    width:100%; */
    /* z-index: 999;
}
*/


